
.white-space {
	height: 14px;
}

.lesson-titulos, .lesson-images, .lesson-enlaces, .lesson-list, .lesson-negritas, .lesson-color, .lesson-multipleChanges, .lesson-classes, .lesson-identificadores, .lesson-universal,
 .lesson-box, .lesson-editor, .lesson-ejercicioDivs, .lesson-ejercicioClass, .lesson-ejercicioId, .lesson-ejerciciobox, .lesson-ejercicioTitles,
 .lesson-ejercicioImage, .lesson-ejercicioLink, .lesson-ejercicioList {
	display: none;
}

.noShow {
	display: none;
}

.show {
	display: block;
}

.move {
	transform: translateX(-158px);
	max-width: 100em;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.background-purple {
	background-color: #b656e0;
}

.color-purple {
	color: #b656e0;
}

.background-yellow {
	background-color: #DCED31;
}

.color-yellow {
	color: #DCED31;
}


