*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
	height: 100%;
}

body {
  color: #555;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2em;
}

p {
	font-size: 16.5px;
	line-height: 1.5;
}

.nav-fixed {
	background-color: #e0568b;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 50px;
}

h3 {
	padding-top: 0;
	margin-top: 10px;
	padding-left: 15px;
	color: white;
}

.hamburger {
	display: block;
	cursor: pointer;
	margin: 74px;
	padding-left: 0px;
	margin-left: 27px;
}

.line {
	border-bottom: 3px solid #bbb;
	margin-bottom: 6px;
	width: 2rem;
	border-radius: 2.5rem;
}

.line:lastchild {
	margin-bottom: 0;
}

.lesson {
	position: absolute;
	top: 130px;
	left: 300px;
	max-width: 60em;
	padding-left: 70px;
	transition: all .4s ease-in-out;
}

nav h2 {
	margin-top: 10px;
	padding: 25px;
	color: #e0568b;
}

li {
  border-top: 1px solid rgba(0,0,0,0.2);
  list-style: none;
  transition: all 300ms ease-in-out;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

li:hover {
  background-color: #FBC2B5;
}

nav li:first-child {
  margin-top: 2em;
}

nav a {
	text-decoration: none;
}

.close-button {
	padding-left: 260px;
	padding-top: 45px;
}

nav {
  width: 300px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 20px 0;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.white-space {
	height: 16px;
}

.lesson-titulos, .lesson-images, .lesson-enlaces, .lesson-list, .lesson-negritas, .lesson-color, .lesson-multipleChanges, .lesson-classes, .lesson-identificadores, .lesson-universal, .lesson-box {
	display: none;
}

.noShow {
	display: none;
}

.show {
	display: block;
}

.move {
	transform: translateX(-158px);
	max-width: 100em;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.background-purple {
	background-color: #b656e0;
}

.color-purple {
	color: #b656e0;
}

.background-yellow {
	background-color: #DCED31;
}

.color-yellow {
	color: #DCED31;
}

