* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	text-align: center;
	color: #7d97ad;
	font-family: 'Gentium Basic', serif;
}

img {
  max-width: 100%;
}

a {
	color: #fff;
}

a:link {
	text-decoration: none;
}

.to-left {
	float: left;
}

.floating {
  float: right;
}

nav a {
	padding: 0 20px;
}

nav {
	padding: 20px 0;
}


.header-background{
   background:
   linear-gradient(to bottom right, rgba(254, 193, 76, .7), rgba(214, 87, 128, .6), rgba(169, 109, 163, .7)),
   url("https://s3-us-west-1.amazonaws.com/spanishtutorial/working-women-small.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
    width: 100%;
    height: 100vh;
    color: #fff;
}

.header-titles {
	padding-top: 104px;
	padding-bottom: 0;
	color: #fff;
	font-size: 25px;
	margin: 0 auto;
	text-shadow: 0px 2px 4px rgba(34,62,66,.75);
	font-family:'Playfair Display', serif;
	text-align: left;
	padding-left: 55px;
}

.subheader {
	color: #fff;
	font-size: 20px;
	margin: 0 auto;
	font-family:'Playfair Display', serif;
	text-align: left;
	padding-left: 55px;
}

.wrap {
	margin-top: -33px;
}


a.btn {
 background-color: transparent;
	color: #fff;
	margin-top: 30px;
	float: left;
	margin-left: 75px;
	padding: 12px 45px;
	font-size: 16px;
	border: 3px solid #fff;
	border-radius: 25px;
	letter-spacing: 1.5px;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
	transition: all .2s ease-in-out;
	text-transform: uppercase;
}

a.btn:hover {
	transform: scale(1.06);
	color: #A96DA3;
	background-color: #fff;
}

/*Courses*/ 

.courses-titles {
	color: rgba(0, 191, 178, 0.8);
	margin-top: 100px;
}

.courses {
	display: flex;
	justify-content: space-around;
	margin: 60px;
	margin-top: 80px;
	height: auto;
	padding-bottom: 62px;
}

.courses-box {
	width: 27%;
}

.card {
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
	height: 200px;
	border-radius: 0.375rem;
	transition: all .3s ease-in-out;
	color: #7d97ad;
	background-color: #fff;
}


.card:hover {
	box-shadow: 10px 16px 20px 0px rgba(46,61,73,0.15);
	transform: scale(1.03);
}

.color1 {
	border-top: 7px solid #e0568b;

}

.color2 {
	border-top: 7px solid #b656e0;
}

.color3 {
	border-top: 7px solid #DCED31;
}

.color4 {
	border-top: 7px solid #EF2D56;
}

.color5 {
	border-top: 7px solid #ED7D3A;
}

.color6 {
	border-top: 7px solid #0CCE6B;
}

h4 {
	color: #A96DA3;
	font-size: 25px;
	padding-left: 20px;
	padding-top: 20px;
}

h5 {
	font-size: 17px;
	text-transform: uppercase;
	padding-left: 21px;
    padding-top: 20px;
}


.text-center {
	text-align: left;
}


/*FOOTER*/
.about {
	margin-top: 0px;
	background-color: #1b1b1b;
	overflow: hidden;
	height: 50px;
}

h6 {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	margin-top: 5px;
}

.white-spacer {
	height: 15px;
}

input, textarea, label {
	display: block;
	margin: 0 auto;
}

textarea, input {
	width: 90%;
	border: 1.5px solid #e0568b;
	margin-top: 5px;
	margin-bottom: 5px;
}

input {
	padding: 15px;
}

label {
	margin-right: 440px;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	margin-top: 20px;
}

textarea {
	-webkit-appearance: none;
}

.contact {
	padding-bottom: 30px; 
	background: linear-gradient(rgba(214, 87, 128, .4), rgba(169, 109, 163, .5)), 
	url("../images/woman-cellphone.jpg");
	height: 740px;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.form-block {
	background-color: #fafafa;
	max-width: 700px;
	margin: 0 auto;
	margin-top: 74px;
	padding: 30px;
	height: 600px;
	padding-top: 15px;
}

.send {
	background-color: #ffffff;
    border-color: #e0568b;
    color: #e0568b;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    width: auto;
    height: 39px;
    line-height: 36px;
    margin: 0;
    margin-top: 15px;
    padding: 0 23px;
    font-size: 13px;
    font-weight: 700;
    font-family: Raleway,sans-serif;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
}

.send:hover {
	background-color: #e0568b;
	color: #fff;
}

