/* ----------------------------------------
	Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	padding: 0;
}

/* ----------------------------------------
	Typography
------------------------------------------- */
html {
	font-size: 21px;
}

ul h4 {
	text-align: center;
	font-size: 20px;
	color: #fff;
}

h4 {
	text-align: left;
	color: #2d333b;
	font-size: 35px;
}

p {
	color: #435a64;
	font-size: 21px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	font-size: 19px;
	color: #201A1B;
}

h3 {
	color: #69D1C5;
	opacity: .9;
}

ol li {
	color: #435a64;
	font-size: 19px;
}

ol {
	margin-bottom: 25px;
}

.img-hex {
	margin: 15px 100px;
}

.achievement {
	margin: 5px 220px;
}

.typing {
	margin: 5px 250px;
}

.img-house {
	margin: 5px 250px;
}

.images2-intro, .images-intro, .img-caja {
	margin-bottom: 15px;
	margin-left: 220px
}

.img-box-model {
	margin-left: 125px;
}

/* ----------------------------------------
	Sidebar
------------------------------------------- */
#sidebar-container {
	overflow: scroll;
	background-color: #082736;
	background-color: #FAFAFA;
	color: rgb(60, 72, 88);
	box-shadow: rgba(0, 0, 0, 0.42) 0px 10px 30px -12px, rgba(0, 0, 0, 0.12) 0px 4px 25px 0px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
	display: block;
	position: fixed;
    left: 0;
    top: 0;
    width: 290px;
    height: 100vh;
    z-index: 1200;
    font-size: 100%;
}

#sidebar-container li {
	text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 25px 20px;
    /*border-bottom: 1px solid rgba(0,0,0,.1);*/
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.sidebar-nav h4 {
	color: rgb(60, 72, 88);
}

.sidebar-nav {
	padding: 0;
	/*padding-top: 45px;*/
	list-style: none;
	height: 100%;
}

.sidebar-nav li{
	text-indent: 20px;
	line-height: 40px;
	cursor: pointer;
}

.sidebar-nav li:hover {
	background-color: #
}

.sidebar-nav li a {
	text-decoration: none;
}

.sidebar-nav li:hover {
	background-color: #AFDEDC;
}

.sideba-nav li.active {
	background-color: #AFDEDC;
}

/* ----------------------------------------
	Main lesson
------------------------------------------- */
.page-content-container {
	position: absolute;
	top: 70px;
	left: 354px;
	max-width: 70em;
	text-align: justify;
    text-justify: auto;
	transition: all .4s ease-in-out;
	background-color: #fff;
	padding-bottom: 60px;
}

pre {
	font-style:'Source Code Pro', monospace;
	width: 100%;
	height: auto;
	tab-size: 2;
	background-color: transparent;
	border-style: none;
	border: none;
	font-size: 16px;
	margin-bottom: 30px;
	padding: 0px;
	border-top: 10px solid #69D1C5;
}


.highlight {
	height: 10px;
	background-color: 
}


.highlight p {
	color: #fff;
	padding: 30px;
	margin-bottom: 22px;
	color: #4c4c4c;
	
}

.pop {
	color: #0EAD69;
}

.dibus {
	margin-left: 400px;
	color: #e33343;
}

.home-icon {
	margin: 20px 40px;
}


/* PENDING: REFACTOR LISTS FOR WHOLE SITE*/
/*.content-list {
	color: #435a64;
}

.content-list li {
	text-transform: none !important;
    letter-spacing: 1px;
    padding: 25px 20px;
    border: none;
    font-size: 21px;
    font-weight: 500;
}*/

.pager li>a, .pager li>span {
	border: 2px solid #69D1C5;
	color: #69D1C5;
	padding: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.pager li>a, .pager li>span:hover {
	/*background-color: #69D1C5;*/
	color: #69D1C5;
	padding: 10px;
}

.avanzado {
	height: 400px;
}

.transition-box {
	border: 2px solid gray;
	padding: 10px;
	margin-bottom: 15px;
}









