/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
	text-align: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: #44545E;
	min-height: 100vh;
	text-rendering: optimizelegibility;
  font-size: 16px;
}

img {
  max-width: 100%;
}

.two_column {
  display: flex;
  flex-wrap: wrap;
}

.callToAction {
  width: 50%;
  background-color: #66cc99;
  height: 80vh;
}

.image_background {
  background: url("https://dl.dropboxusercontent.com/s/b04nptc86tvu4t4/winnershort2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.points {
  text-align: left;
  margin-top: 100px;
  margin-left: 60px;
}

.icon_style {
  margin-right: 20px;
  font-size: 35px;
  color: #fff;
}

.points h3 {
  font-weight: 400;
  color: #fff;
}

.points h2 {
  color: #fff;
  margin-bottom: 50px;
}


/* ----------------------------------------
Cards_cursos
------------------------------------------- */
.main_container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.flex_cards {
  width: 30%;
  margin: 30px;
  background-color: #fff;
  margin: 0 auto;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-top: 5px solid #66cc99;
  transition: .3s;
}

.flex_cards:hover {
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.product_text h1 {
  color: #44545E;
  font-size: 34px;
}

.product_text h2 {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #8d8d8d;
  letter-spacing: 0.2em;
}

.product_text p {
  height: 95px;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product_price button {
  height: 50px;
  width: 165px;
  margin: 0 20px 0 16px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #ffffff;
  background-color: #66cc99;
  cursor: pointer;
  outline: none;
  transition: .3s;
}

.product_price button:hover {
  color: #fff;
  background-color: #58aa81;
  border-color: #58aa81;
}


/* ----------------------------------------
Typography
------------------------------------------- */
h1, h2, h3 {
	font-weight: 700;
  letter-spacing: 1.2px;
  font-family: "Open Sans",sans-serif;
}

.subheader h2 {
  font-weight: 400;
}

h1{
  color:#fff;
}

p {
  font-family: "Open Sans",sans-serif;
  list-style: 1.4;
  color: #4d4d4d;
  line-height: 1.52857;
  font-size: 1.2em;
}

.superior {
  height: 45px;
  background-color: #66cc99;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}

.superior a {
  line-height: 45px;
  font-size: 17px;
}

.superior a:link {
  color: #fff;
}

.superior a:visited {
  color: #fff;
}

.superior a:hover {
  color: #fff;
}

nav {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  background-color: #fff;
 /* background-color: rgba(0,0,0,.3);*/
  z-index: 100;
  height: auto;
  box-shadow: 0 1px 5px -1px rgba(0,0,0,.2);
}

nav li {
  display: inline-block;
}

nav li:last-child {
  margin-right: 70px;
}

nav a {
  font-weight: 400;
  letter-spacing: 0.75px;
  padding: 3px 15px;
  display: inline-block;
  border-bottom: none;
  color: #66cc99;
}

nav a:link {
  color: #66cc99;
}

nav a:visited {
  color: #66cc99;
}

nav a:hover {
  color: #58aa81;
}

nav ul li {
  margin: 32px 0 0;
  line-height: 1.6;
}

a.brand {
  line-height: 16px;
  margin: 32px 0 0;
  margin-left: 75px;
  font-weight: 600;
}

/*nav ul li a {
  padding-right: 0px;
}*/

.ul_left {
  float: right;
  line-height: 50px;
}

/*pruebaaaaa*/
.geo img, .gaby img {
  border-radius: 50%;
}

/* ----------------------------------------
Layout
------------------------------------------- */
.flex-columns {
  display: flex;
  flex-wrap: wrap;
}

.flex-columns .fa {
  font-size: 38px;
}

.flex-columns article {
  width: 50%;
  margin-top: 75px;
}

.flex-columns p {
  color: #fff;
}

.extraSection h2 {
  padding-top: 80px;
}

.extraSection {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
  url("https://dl.dropboxusercontent.com/s/b04nptc86tvu4t4/winnershort2.png");
  background-size: cover;
  background-position: 50% 80%;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  height: 750px;
  color: #fff;
}


a {
	color: #fff;
}

a:link {
	text-decoration: none;
}

.to-left {
	float: left;
}

.to-left .fa {
  display: inline-block;
  color: #fff;
}

.sugerencia h2 {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    max-width: 705px;
    text-align: center;
    margin-bottom: 0;
}

.sugerencia h2 .fa {
    float: left;
    font-size: 40px;
    margin-right: 15px;
    margin-top: -4px;
}

.space .fa {
    color:#fff;
    background-color: #66cc99; 
    opacity: .7;
    border-radius: 96px;
    /*box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);*/
    width: 96px;
    height: 96px;
    text-align: center;
    font-size: 45px;
    line-height: 34px;
    padding-top: 30px;
    transition: all .3s ease-in-out;
}

/*.space .fa:hover {
    box-shadow: 2px 2px 10px 0px rgba(46,61,73,0.2);
}*/


.floating {
  float: right;
  margin-right: 30px;
  margin-top: 21px;
}

a.btn {
  background-color: #66cc99;
	color: #fff;
  border: 2px solid #66cc99;
	margin-top: 55px;
	padding: 12px 74px;
	font-size: 20px;
	border: 3px solid inherit;
	border-radius: 5px;
	letter-spacing: 1.5px;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

a.btn:hover {
  color:#fff;
  background-color: #58aa81;
  border-color: #58aa81;
}

a.btn:link {
  color: #fff;
}

a.btn:hover {
  color: #fff;
}

a.btn:visited {
  color: #fff;
}

.space {
	margin-top: 50px;
}

.noShow {
  display: none;
}

a.btn-transparent {
  background-color: rgba(255, 255, 255, .25);
  border: 2px solid #fff;
  font-weight: bold;
}

/* ----------------------------------------
Nav
------------------------------------------- */
/*nav a {
	padding: 0 20px;
}

nav {
	padding: 20px 0;
  position: relative;
}*/

#sidebar-box{
  width: 400px;
  height: 100%;
 background: linear-gradient(to bottom, #0ea5a0 0%, #87e0c5 100%);
   position: absolute;
  top: 0;
  right: 0;
  padding: 20px 0;
  display: none;
}

#ventana-box{
  width: 400px;
  height: 60%;
 background: #fafafa;
   position: absolute;
  top: 0;
  right: 0;
  padding: 20px 0;
  display: none;
  outline: 0;
  border-radius: 2px;
  z-index: 2000;
}

.sidebar {
  float: right;
}


.active .sidebar {
  display: block !important;
}

.open  {
    box-shadow: none;
    background: none;
    border: 2px solid rgba(255,255,255,0.4);
    padding: 10px;
    margin-right: 16px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
}

.open:hover{
  webkit-box-shadow: #128c87 0 3px;
    -moz-box-shadow: #128c87 0 3px;
    box-shadow: #128c87 0 3px;
    background-color: #00c4cc;
    border-color: transparent;
    color: #fff;
    border-radius: 5px;
}

.log {
    border: 1px solid #66cc99;
    transition: .3s;
}

.log:hover {
  background-color: #66cc99;
  color: #fff;
  font-weight: 600;
}

#cursosButton {
    box-shadow: none;
    background-color: #66cc99;
    border: 1px solid #66cc99;
    margin-right: 16px;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
}


.close {
  position: absolute;
  top: 10px;
  right: 30px;
  text-transform: none;
  font-size: 20px;
}

.close .fa {
  color: #3a3a3a;
}

.brand {
	font-size: 30px;
	font-family: "Open Sans",sans-serif;
	z-index: 2000;
	color: #5a595e;
  margin-left: 70px;
  float: left;
}

.brand:link {
	color: #5a595e;
}

.brand:visited {
	color: #5a595e;
}

.brand:hover {
	color: #5a595e;
}

.brand:active {
	color: #5a595e;
}

.floating a:link {
	font-size: 15px;
	font-weight: 700;
  color: #fff;
}

.floating a:visited {
	color: #fff;
}

.floating a:hover {
	color: #fff;
}

.floating a:active {
  color: #fff;
}

/* ----------------------------------------
Header
------------------------------------------- */
header h1 {
	letter-spacing: 0.01em;
  font-size: 4.60em;
  color: #fafafa;
  padding-top: 150px;
}

.header-icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
  margin-top: 50px;
}

.vertical-center {
  background: linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
  url("https://dl.dropboxusercontent.com/s/6tz7sipl8uchsxn/twenty.jpg");
  background-size: cover;
  background-position: center;
  background-position: center 30%;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  height: 100vh;
}


.subheader {
	color: #fafafa;
	font-size: 1.2em;
}

.subheader h2 {
  font-size: 28px;
}

.hero-content {
  /*margin-top: 130px;*/
  /*line-height: 100vh;*/
  margin-top: 100px;
}

.sugerencia {
  background-color: #66cc99;
  height: 80px;
}


/* ----------------------------------------
Content
------------------------------------------- */

.box-item a:link {
  color: #fff;
}

.box-item a:visited {
  color: #fff;
}

.section-wrap{
  margin:0 auto;
  width:60%;
  padding: 150px 0;
}

.columns{
  margin:0 auto;
  width:80%;
  padding: 80px 0;
}

.section-wrap-mini{
  margin:0 auto;
  width:80%;
}

.columns {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
}

.benefits-section {
  width: 30%;
  text-align: center;
}

.benefits-title {
  margin-top: 85px;
  margin-bottom: 45px;
}

.benefits-blank {
  padding: 40px 0px;
}

#logos{
  overflow-x: hidden;
  padding: 10px 0px;
}

.logo-row-label{
  font-size: 10px;
  letter-spacing: .7px;
  opacity: .5;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.logo-row{
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
   -ms-flex-wrap: wrap;
    flex-wrap: wrap;
max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.logo-row-item {   
    padding-left: 15px;
    padding-right: 15px;
    opacity: .5;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    margin-right: 30px;
}

.logo-row-item:hover{
    opacity: 1;
    -webkit-filter: grayscale(5%);
    filter: grayscale(5%);
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
}

#koga-logo{
  width: 140px;
  height: 160px;
  margin-left: 330px;
}

#gdi-logo{
  width: 120px;
  height: 110px;
}

#devlabs-logo {
  width: 200px;
  height: 95px;
}

#techtonica-logo{
  width: 240px;
  height: 65px;
}

.sponsor {
    text-rendering: optimizelegibility;
    margin: 35px 0px 30px 0px;
    position: relative;
    font-size: 14px;
    letter-spacing: .7px;
    opacity: .5;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.sponsor-text{
      background: #fff;
    display: inline-block;
    padding: 0 24px;
    position: relative;
    top: 10px;
}


.intro-icon{
  font-size: 40px;
}

.coursesCards {
  background-color: #f9f9f9;
  padding:50px;
}

.imageCard {
  background: url('images/cellphone.jpg');
}

.cardsDisplay {
  display: flex;
  flex-wrap: wrap;
  margin: 0 120px;
}

.courses-title {
  margin: 0 auto;
  width:80%;
  /*padding-bottom: 18px;
  float: left;*/
  padding-right: 41px;
  padding-left: 25px;
  margin-bottom: 80px;
}


.courses-title p {
  font-size: 1.2em;
}

.courses-title h1 {
  color: #44545E !important;
}

.courses-icon{
  font-size: 40px;
}

.container-right {
	/*flex-basis: 60%;*/
  display: flex;
  flex-wrap: wrap;
}

.container-right ul {
	list-style: none;
	padding:0;
  margin: auto;
}

.container-right li {
  /*padding: 10px;*/
}

.lessons-color li:nth-child(1) .lesson-box-style {
    background-color: #49a09d;
}

.lessons-color li:nth-child(2) .lesson-box-style {
    background-color: #42b7b3;
}

.lessons-color li:nth-child(3) .lesson-box-style {
    background-color: #27c6c1;
}

.lessons-color li:nth-child(4) .lesson-box-style {
    background-color: #2a9995;
}

.lessons-color li:nth-child(5) .lesson-box-style {
    background-color: #0fa8a3;
}

.lessons-color li:nth-child(6) .lesson-box-style {
    background-color: #0bb7b2;
}


.container-right ul li{
	display: inline-block;
	width: 33.33%;
	height: 269px;
	float: left;
	cursor: pointer;
	overflow: hidden;
}


ul li a:hover .content-hover{
 height: 100%;
 color: #fff;
 padding: 0 25px;
}

.content-hover h5 {
  margin-top: 50px;
  font-size: 1.3em;
  color: #48d0a7;
}

.lessons-color li:hover .lesson-box-style {
    background: none;
}

.lesson-box-style:hover .lesson-content{
    display: none;
}

.lesson-content {
  text-shadow: 0px 2px 4px rgba(34,62,66,.4);

}

.lesson-content h4, h5 {
	color: #fff;
	font-weight: 700;
}

.lesson-box-style {
	text-align: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 15%;
}

.content-hover {
 	 position: absolute;
	 bottom: 0;
	 left: 0;
	 right: 0;
   background:rgba(255,255,255,0.35);
	 overflow: hidden;
	 width: 100%;
	 height: 0;
	 transition: .5s ease;
}

.benefits-section p{
  text-align: center;
  padding: 10px;
}

.benefits-section span{
  padding:15px;
  margin-right:15px;
}

.main-intro-container {
    display: block;
    padding: 40px;
    max-width: 980px;
}

.intro-icon {
  height: 250px;
  width: 250px;
}

.intro-content {
    width: 630px;
    padding: 0 0 50px 50px;
    vertical-align: middle;
    display: inline-block;
    font: 400 16px/34px 'Raleway', sans-serif;
    color: #737373;
    margin-left: 77px;
    height: 290px;
}

/* ----------------------------------------
Contact
------------------------------------------- */

.contact {
	padding: 50px 0 80px;
	text-align: center;
	position: relative;
	/*background-color: #555e5e;
  background-image: url("https://s3-us-west-1.amazonaws.com/spanishtutorial/bg-footer.jpg");*/
  /*background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
  url('../images/contact.jpg');*/
 /* background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;*/
  background-color: #66cc99;
  min-height: 253px;
  padding-top: 50px;
}

.contact-content .fa-envelope-o {
	font-size: 40px !important;
  color: #fff;
	height: 65px;
	width: 65px;
	border-radius: 4px;
	padding: 5px;
	padding-top: 10px;
}

.contact-content {
	width: 50%;
	height: auto;
	margin: 0 auto;
}

.contact p {
	padding-bottom: 20px;
	color: #fff;
	font-size: 18px;
}

.contact h2 {
	color: #fff;
	margin: 10px 0 10px;
}

.contact-content a {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  margin-top: 30px;
  padding: 12px 50px;
  font-size: 20px;
  border: 3px solid inherit;
  border-radius: 5px;
  letter-spacing: 1.5px;
  box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

/*.contact-content a:hover {
	background-color: #03b0b7;
	border-color: #03b0b7;
}*/

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 40px;
}


footer h6 {
	font-size: 0.7em;
	text-transform: uppercase;
  margin: 0;
  color:#706f6f;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  color: #706f6f;
}


/* ----------------------------------------
Responsive modal
------------------------------------------- */
.modal-background {
  padding: 15px;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.modal-content {
  padding: 40px 30px;
  color: #444;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
}

#cerrar {
  font-size: .85em;
  font-weight: 600;
  padding: 10px 20px;
  cursor: pointer;
  letter-spacing: .08em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #69D1C5;
  margin: 20px 0;
}

.data-login {
  display: flex;
  margin: 0 auto;
  width: 85%;
  display: block;

}

form {
  width: 85%;
  margin: 20px auto;
}

.gotoSignup p {
  font-size: 14px;
  color: #66cc99;
  cursor: pointer;
  margin-top: 30px;
}

.input-group-addon {
  color: #66cc99;
  font-size: 18px;
}

.data-login input {
  display: block;
  border: 2px solid #d8d8d8;
  outline: 0;
  text-transform: uppercase;
}

.data-login button {
  background-color: #00c4cc;
  color: #fff;
  border-style: none;
  border-radius: 5px;
  text-transform: uppercase;
}

.signin {
  background-color: #66cc99;
  color: #fff;
  border-style: none;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 15px;
  width: 80%;
  transition: .3s;
}

.signin:hover {
  background-color: #58aa81;
  border-color: #58aa81;
}

.ventana input {
  outline: 0;
  padding: 20px;
}

.crearCuenta input {
  display: block;
  padding: 20px;
  border: 2px solid #d8d8d8;
  outline: 0;
  width: 80%
  margin: 15px 0;
}

input {
    font-family: 'AvenirLT-Roman', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #fff;
    height: 32px;
    padding-top: 7px;
}

.input-box{
  -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    font-family: inherit;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    display: block;
    font-size: 0.875em;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0.5em;
    height: 2.3125em;
    width: 80%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
}


/* ----------------------------------------
Media Queries
------------------------------------------- */


@media (max-width: 1120px) {
	.header-titles {
		font-size: 40px;
	}


	.subheader {
		font-size: 30px;
	}

	a.btn {
		font-size: 22px;
	}

  .logo-row{
    width: 100%;
    margin: 0 auto;
}

#koga-logo{
    width: 150px;
    height: 190px;
  }

  #gdi-logo{
    width: 110px;
    height: 90px;
  }

  #devlabs-logo {
    width: 150px;
    height: 45px;
  }

  #techtonica-logo{
    width: 250px;
    height: 25px;
}

@media (max-width: 970px) {

  .logo-row{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .logo-row-item {
    margin-right: 0;
  }

  #koga-logo{
    width: 150px;
    height: 190px;
  }

  #gdi-logo{
    width: 110px;
    height: 90px;
  }

  #devlabs-logo {
    width: 150px;
    height: 45px;
  }

  #techtonica-logo{
    width: 220px;
    height: 25px;
  }

  .coursesCards {
	    margin-top: 80px;
	    margin: 60px 40px;
	    padding-bottom: 0;
    }

    .courses-title {
    width: 80%;
    padding: 10px 0;
  }

    .courses-box {
    	margin-bottom: 105px;
    }

    .container-left {
      flex-basis: 100%;
      margin: 5% 0;
    }

    .main-lesson-container {
      height: auto;
    }

    .container-right {
       flex-basis: 100%;
    }

    #goToCourses {
      background-size: 140%;
    }
}

@media (max-width: 750px) {
  header h1 {
    font-size: 2.5em;
    text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  }
  .subheader{
    width: 80%;
    margin: 0 auto;
  }

  .hero-content{
    margin-top: -35px;
    position: absolute;
  }

  .circle {
    width: 170px;
    height: 170px;
    background-color: #69D1C5;
    border-radius: 50%;
    margin-top: -120px;
    margin-left: -60px;
  }

  .brand {
    font-size: 1.5em;
  }

  .header-icon {
    display: none;
  }

  
  .logo-row{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  #koga-logo{
    width: 130px;
    height: 170px;
  }

  #gdi-logo{
    width: 90px;
    height: 70px;
  }

  #devlabs-logo {
    width: 120px;
    height: 35px;
  }

  #techtonica-logo{
    width: 190px;
    height: 25px;
  }

  .section-wrap {
    width: 80%;
    padding: 40px 0;
  }
  .container-right ul li {
    width: 100%;
  }

  .lesson-box-style {
    padding: 10%;
  }

  a.btn {
  	display: none;
  }

  .coursesCards {
	    margin:20;
      padding: 0;
  }

  .courses-title {
    width: 80%;
    padding: 10px 0;
  }

  .space {
    margin-top:10px;
  }

  .benefits-section span {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    /*margin-left: 25px;
    margin-right: 25px;*/
    display: none;
  }

  .vertical-center {
    height: 60vh;
    background-attachment: initial;
  }

  .sugerencia h2 {
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
  }

  .to-left {
    display: none;
  }

  .sugerencia {
    height: 90px;
  }

  .flex_prueba {
    width: 100%;
  }

  .product-img {
    display: none;
  }

  .wrapper {
    width: 83%;
  }

  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  .benefits-section {
    width: 100%;
  }

  .extraSection {
    display: none;
  }

  #logos {
    padding-top: 0px;
    display: none;
  }

  .benefits-blank {
    padding: 0px;
  }

 .logo-row{
    width: 100%;
   /* margin: 0 auto;*/
    margin-bottom: 40px;
  }

  #koga-logo{
    width: 130px;
    height: 170px;
  }

  #gdi-logo{
    width: 90px;
    height: 70px;
  }

 /* #devlabs-logo {
    width: 120px;
    height: 35px;
  }*/

  #techtonica-logo{
    width: 190px;
    height: 25px;
  }

  /*.subheader {
    display: none;
  }*/

  .courses-title h1 {
    font-size: 1.5em;
  }

  .courses-title p {
    font-size: 1.2em;
  }

  .section-wrap h2 {
    font-size: 1.5em;
  }

  .section-wrap p {
    font-size: 1.1em;
  }

  .floating {
    display: none;
  }

  .courses-title p {
    display: none;
  }

  .contact-content a {
    padding: 12px 10px;
  }
}


.extraSection {
  background: linear-gradient(rgba(102, 204, 153, .8), rgba(102, 204, 153, .8)),
  url("..images/winner.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 800px;
  color: #fff;
}





