* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	text-align: center;
	color: #7d97ad;
	font-family: 'Gentium Basic', serif;
	min-height: 100vh;
}

img {
  max-width: 100%;
}

a {
	color: #fff;
}

a:link {
	text-decoration: none;
}

.to-left {
	float: left;
}

.floating {
  float: right;
}

nav a {
	padding: 0 20px;
}

nav {
	padding: 20px 0;
}

.brand {
	font-size: 30px;
	font-family: 'Palanquin Dark', sans-serif;
	z-index: 2000;
	color: #fff;
}

.circle {
	width: 200px;
	height: 200px;
	background: linear-gradient(to bottom right, #69D1C5, #69D1C5);
	background: -webkit-linear-gradient(top left, #69D1C5, #69D1C5);
	border-radius: 50%;
	margin-top: -120px;
	margin-left: -60px;
}


.header-background{
   background: linear-gradient(to bottom right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
   url("https://s3-us-west-1.amazonaws.com/spanishtutorial/womentech-small.jpg");
   background: -webkit-linear-gradient(top left, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
   url("https://s3-us-west-1.amazonaws.com/spanishtutorial/womentech-small.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center bottom;
   background-attachment: fixed;
   width: 100%;
   height: 100vh;
   color: #fff;
   letter-spacing: 1.5px;
   position: relative;
}

.container-titles {
	position: absolute;
	top: 25%;
	width: 100%;
}

.header-titles {
	color: #fff;
	font-size: 25px;
	margin: 0 auto;
	text-shadow: 0px 2px 4px rgba(34,62,66,.75);
	font-family:'Playfair Display', serif;
	text-align: center;
	margin-bottom: 50px;
}

.subheader {
	color: #fff;
	font-size: 20px;
	font-family:'Playfair Display', serif;
	text-align: center;
	margin: 0 auto;
}


a.btn {
    background: linear-gradient(to bottom right, #69D1C5, #69D1C5);
    background: -webkit-linear-gradient(top left, #69D1C5, #69D1C5);
	color: #fff;
	margin-top: 30px;
	padding: 12px 135px;
	font-size: 16px;
	border: 3px solid inherit;
	border-radius: 25px;
	letter-spacing: 1.5px;
	box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

/*Courses Redesign*/ 
#goToCourses{
	background-image: url(https://s3-us-west-1.amazonaws.com/spanishtutorial/learn-to-code.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0% 0%;
}

.row {
	background-color: rgba(0, 0, 0, 0.6);
}

.container-left {
	float: left;
    width: 25%;
  	color: white;
  	margin: 5% 0 0 15%;
}

.tagline-text-uppercase {
	font: 700 3.5em/1em 'Montserrat', sans-serif;
    text-transform: uppercase;
	float: left;
    margin-left: 30%;
    text-align: left;
}

.tagline-small-text {
	font: 400 16px/34px 'Raleway', sans-serif;
    letter-spacing: .1em;
    font-size: 20px;
    float: left;
    text-align: left;
    margin: 5% 30%;
}

.container-right {
	float: right;
	width: 60%;
	/*border: solid 2px;*/
}

.container-right ul {
	list-style: none;
	padding:0;
}

.lessons-color li:nth-child(1) {
    background: rgba(255, 122, 113, 1);
}

.lessons-color li:nth-child(2) {
    background: rgba(143, 215, 136, 0.9);
}

.lessons-color li:nth-child(3) {
    background: rgba(3, 187, 199, 0.9);
}

.lessons-color li:nth-child(4) {
    background: rgba(227, 119, 170, 1);
}

.lessons-color li:nth-child(5) {
    background: rgba(245, 244, 136, 0.9);
}

.lessons-color li:nth-child(6) {
    background: rgba(91, 229, 207, 0.9);
}


.container-right ul li{
	display: inline-block;
	width: 33.33%;
	height: 269px;
	float: left;
	display: block;
	cursor: pointer;
	overflow: hidden;
    text-align: center;	
}

ul li a:hover .content-hover {
 color:red;
 height: 100%;
}

.lesson-box-style {
	text-align: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.lesson-content {
	visibility: visible;
    animation-duration: 0.7s;
    animation-delay: 0.5s;
    animation-name: fadeIn;
}


.content-hover {
/*	opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: bottom .5s ease, opacity .5s ease-out 0s;
    -moz-transition: bottom .5s ease, opacity .5s ease-out 0s;
    -ms-transition: bottom .5s ease, opacity .5s ease-out 0s;
    -o-transition: bottom .5s ease, opacity .5s ease-out 0s;
    transition: bottom .5s ease, opacity .5s ease-out 0s;
    padding: 45px;*/
 	 position: absolute;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 background-color: #008CBA;
	 overflow: hidden;
	 width: 100%;
	 height: 0;
	 transition: .5s ease;
}

.container:hover .overlay{
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*.box-item:hover {
	cursor: pointer;
}*/

/*Courses*/ 
.courses-titles {
	color: rgba(0, 191, 178, 0.8);
	margin-top: 100px;
}

.courses {
	display: flex;
	display: -ms-flexbox;
	justify-content: space-around;
	-ms-flex-pack: distribute;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	margin: 60px;
	margin-top: 80px;
	height: auto;
}

.space {
	margin-top: 140px;
}

article {
	flex-basis: 30.3%;
	-ms-flex-preferred-size: 30.3%;
}

.courses-box {
	margin-bottom: 140px;
}	


.card {
	/*box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);*/
	/*height: 200px;*/
	/*border-radius: 0.375rem;*/
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	color: #7d97ad;
	background-color: #fff;
}


.card:hover {
	box-shadow: 10px 16px 20px 0px rgba(46,61,73,0.15);
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
	border-radius: 0.375rem;
	/*box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);*/
}

.color1 {
	border-top: 7px solid #e0568b;

}

.color2 {
	border-top: 7px solid #b656e0;
}

.color3 {
	border-top: 7px solid #DCED31;
}

.color4 {
	border-top: 7px solid #EF2D56;
}

.color5 {
	border-top: 7px solid #ED7D3A;
}

.color6 {
	border-top: 7px solid #0CCE6B;
}

h4 {
	color: #A96DA3;
	font-size: 25px;
	padding-left: 20px;
	padding-top: 20px;
}

h5 {
	font-size: 17px;
	text-transform: uppercase;
	padding-left: 21px;
    padding-top: 20px;
}


.text-center {
	text-align: left;
}


/* CONTACT */

.contact {
	padding: 50px 0 80px;
	text-align: center;
	position: relative;
}

.fa-envelope-o {
	font-size: 40px !important;
	background: -webkit-linear-gradient(top left, #E5F993, #59C3C3, #59C3C3);
	color: #fff;
	height: 65px;
	width: 65px;
	border-radius: 4px;
	padding: 5px;
	padding-top: 10px;
}

.contact p {
	padding-bottom: 70px;
	color: #737373;
	font-size: 18px;
}

.contact h2 {
	color: #4c4c4c;
	margin: 20px 0 20px;
}

.contact .input-group {
	margin-bottom: 22px;
	width: 100%;

}

.form-control {
	font-size: 18px;
}

.contact .btn {
	width: 100%;
	font-size: 18px;
	border: 2px solid #69D1C5;
	color: #69D1C5;
	margin-top: 20px;
	background-color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1.2px;
}

.contact .btn:hover {
	background-color: #69D1C5;
	color: #fff;
}


/*FOOTER*/
.about {
	margin-top: 0px;
	background-color: #1b1b1b;
	overflow: hidden;
	height: 50px;
}

h6 {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 660px;
}

.white-spacer {
	height: 15px;
}

/*Media Queries*/
@media (min-width: 1120px) {
	.header-titles {
		font-size: 40px;
	}

	.subheader {
		font-size: 30px;
	}

	a.btn {
		font-size: 22px;
	}
}

@media (max-width: 970px) {
  	article {
		flex-basis: 45.3%;
		-ms-flex-preferred-size: 45.3%;
	}

	.courses {
	    margin-top: 80px;
	    margin: 60px 40px;
	    padding-bottom: 0;
    }

    .courses-box {
    	margin-bottom: 105px;
    }
}

@media (max-width: 750px) {
  article {
    flex-basis: 99%;
     -ms-flex-preferred-size: 99%;
  }

  .contactUs {
  	width: 100%;
  }
}





